:root{
    --ItemBg: rgb(107, 36, 12);
    --SectorBg: rgb(153, 77, 28);
    --BoxBg: rgb(228, 143, 69);
    --BgMain: rgb(245, 204, 160);
    --C1:rgba(159, 192, 136,.8);
    --C2:rgba(232, 192, 125,.8);
    --C3:rgba(204, 112, 75,.8);
    --C4:rgba(97, 65, 36,.8);
}

#MainTop,#Right,#Left,#Mid{
    display: flex;

}

#MainTop{
    flex-direction: row;
    height: 50%;
}
#Right,#Left,#Mid{
    flex-direction: column;
    margin-left: 1%;
    margin-right: 1%;
}

#Right{
    width:18%;
}
#Mid{
    width:38%;
}
#Left{
    width:38%;

}


#MainContent{
    height: 160vh;
}

.Changecard{
    display: flex;
    justify-content: space-between;
}
.Changecard button{
    width: 100%;
}
#custombtn{
	width: 40%;
}

.menucard{
    width: 30%;
    flex-direction: row;
    justify-content: space-between;
}

.Price{
    display: flex;
    align-content: center;
    width: 30%;
}

.OrderClass{
    display: flex;
    justify-content: flex-start;
}

.OrderName{
    width:40% ;
}
.OrderIPrice{
    width: 10%;
}
.OrderCount{
    width: 10%;
}
.OrderTotal{
    width: 10%;
}
.Orderbtn{
    width: 20%;
}

.MiniBtn{
    width: 30%;
}

#MainBot{
    height: 50%;
    overflow-y: auto;
    overflow-x: hidden ;
}
#MenuContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
    overflow-x: hidden;
}

/*For Version 2*/
body{
    background-color: var(--BgMain);
}
/*Header.php*/

.headline{
    display: flex;   
}
/*Index*/
.container{
	display:flex;
	height: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	overflow-x: hidden;
	overflow-y: auto;
    margin-bottom: 10px;
}
.Item{
	width: 18%;
    margin: 3px;
    border: 1px solid var(--ItemBg);
    border-radius: 5px;

}
.itembox{
    width: 100%;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}
.itembox p{
    margin-top: 0;
    margin-bottom: 7px;
}

#Coffee,#Beverage,#Snack,#Add-on{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top:  5px;
    align-items: center;
    align-content: center;
}

#Coffee{
    background-color: var(--C1);
}
#Beverage{
    background-color: var(--C2);
}
#Snack{
    background-color: var(--C3);
}
#Add-on{
    background-color: var(--C4);
}

.ItemHeader{
    margin: 0;
}
.PastOrder{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.IOrder{
    display: flex;
    
}
.IndOrder{
    width: 70%;
}
.IndOrder p{
    width: 20%;
}
.PastOrder p{
    margin-top: 0;
    margin-bottom: 5px;
}
.OrderSummary{
    width: 30%;
}



/*AddItem.php*/

.InputBox{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.getitem{
    display: flex;
    background-color: var(--BoxBg);
    padding:15px;
    margin:10px;
    width: 20%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.centercont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin-left: .5%;
    margin-right: .5%;
}

.AddHeader{
    margin:0;
}


.TopAdd{
    height: 20%;
}

.MidAdd{
    height: 60%;
    display: flex;
}

.BotAdd{
    height: 20%;
}

.ListAdd{
    height: 90%;
    width: 98%;
    margin: 5px;
    overflow: auto;
}



/*Add-on Section*/

.Add-onList{
    display: flex;
}

.Add-onList p{
    margin: 0;
}

.Add-onItem,.SnackItem{
    width: 15%;
    margin-right: 2%;
}


.Add-onItem p ,.SnackItem p{
    display: flex;
    justify-content: center;
}

.Add-onbox{
    height: 100%;
    background-color: var(--C4);
}

/*Snack Sec*/

.SnackList{
    display: flex;
}
.SnackList p{
    margin: 0px;
}

.Snackbox{
    background-color: var(--C3);
    height: 100%;
}

/*Coffee Sec*/

.Coffeebox{
    width: 40%;
    background-color: var(--C1);
}

.CoffeeItem{
    display: flex;

}

.CoffeeItem p,.BeverageItem p{
    margin: 3px;
}

.CoffeeItem,.BeverageItem{
    border-bottom: black solid 2px;

}

.CoffeeItem_ID,.BeverageItem_ID{
    width: 5%;
}

.CoffeeItem_Name,.BeverageItem_Name{
    width: 30%;
}

.CoffeePrice,.BeveragePrice{
    width: 5%;
}

.CoffeeTags,.BeverageTags{
    width: 60%;
}
/*Deprecated
.CoffeeCategory,.Category{
    width: 10%;
}*/

/*Beverage Sec*/

.Beveragebox{
    width: 40%;
    background-color: var(--C2);
}
.BeverageItem{
    display: flex;
}

/* width */
::-webkit-scrollbar {
  width: 1vh;
}

::-webkit-scrollbar:horizontal{
  height: 1vh;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-button{
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    height: 20%;
    border-radius: 10px;
    background: rgb(255, 143, 143);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

button{
    background-color: rgb(154, 222, 123);
    border: 1px solid rgb(80, 141, 105);
    border-radius: 5px;
}

/*Order History*/

.OrderBoxHistory{
    width: 28%;
    display: flex;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.ItemBoxHistory{
    display: flex;
}

.containerH{
    display: flex;
    flex-wrap: wrap;
}

.SingleOrder{
    width: 70%;
}

.OrderDetailHistory{
    width: 30%;
}

.ItemBoxHistory p {
    margin-left: 5px;
    margin-right: 5px;
}

/* Statistics */
.StatTop{
    display: flex;
    width: 100%;
    height: 90vh;
}

.statTitle{
    height: 2%;
}
.ContStat{
    height: 98%;
}

.StatCount{
    height: 90%;
    overflow: auto;
}
.TotalCount{
    height: 10%;
}

.statBox{
    width: 23%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.IndivStat{
    display: flex;
    border-bottom: black solid 2px;
}
.IndivStat p{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.ItemCountStat{
    width: 30%;
}
.ItemNameStat{
    width: 70%;
}
