#MainTop,#Right,#Left,#Mid{
    display: flex;

}

#MainTop{
    flex-direction: row;
    height: 70%;
}
#Right,#Left,#Mid{
    flex-direction: column;
}

#Right{
    width:20%;
}
#Mid{
    width:40%;
}
#Left{
    
    width:40%;

}


#MainContent{
    height: 100vh;
    border: 2px solid black;
}

.Changecard{
    display: flex;
    justify-content: space-between;
}
.Changecard button{
    width: 100%;
}
#custombtn{
	width: 40%;
}

.menucard{
    width: 30%;
    flex-direction: row;
    justify-content: space-between;
}

.Price{
    display: flex;
    align-content: center;
    width: 30%;
}

.OrderClass{
    display: flex;
    justify-content: flex-start;
}

.OrderName{
    width:40% ;
}
.OrderIPrice{
    width: 10%;
}
.OrderCount{
    width: 10%;
}
.OrderTotal{
    width: 10%;
}
.Orderbtn{
    width: 20%;
}

.MiniBtn{
    width: 30%;
}

#MainBot{
    height: 25%;
    overflow-y: auto;
    overflow-x: hidden ;
}
#MenuContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
    overflow-x: hidden;
}

/*For Version 2*/

.container{
	display:flex;
	height: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	overflow-x: hidden;
	overflow-y: auto;
    margin-bottom: 10px;
}
.Item{
	width: 20%;
}
.itembox{
	display: flex;
	flex-wrap: wrap;
}
