:root{
    --ItemBg: rgb(107, 36, 12);
    --SectorBg: rgb(153, 77, 28);
    --BoxBg: rgb(228, 143, 69);
    --BgMain: rgb(245, 204, 160);
}

#MainTop,#Right,#Left,#Mid{
    display: flex;

}

#MainTop{
    flex-direction: row;
    height: 70%;
}
#Right,#Left,#Mid{
    flex-direction: column;
    margin-left: 1%;
    margin-right: 1%;
}

#Right{
    width:18%;
}
#Mid{
    width:38%;
}
#Left{
    width:38%;

}


#MainContent{
    height: 100vh;
}

.Changecard{
    display: flex;
    justify-content: space-between;
}
.Changecard button{
    width: 100%;
}
#custombtn{
	width: 40%;
}

.menucard{
    width: 30%;
    flex-direction: row;
    justify-content: space-between;
}

.Price{
    display: flex;
    align-content: center;
    width: 30%;
}

.OrderClass{
    display: flex;
    justify-content: flex-start;
}

.OrderName{
    width:40% ;
}
.OrderIPrice{
    width: 10%;
}
.OrderCount{
    width: 10%;
}
.OrderTotal{
    width: 10%;
}
.Orderbtn{
    width: 20%;
}

.MiniBtn{
    width: 30%;
}

#MainBot{
    height: 25%;
    overflow-y: auto;
    overflow-x: hidden ;
}
#MenuContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
    overflow-x: hidden;
}

/*For Version 2*/
body{
    background-color: var(--BgMain);
}
/*Header.php*/

.headline{
    display: flex;   
}
/*Index*/
.container{
	display:flex;
	height: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	overflow-x: hidden;
	overflow-y: auto;
    margin-bottom: 10px;
}
.Item{
	width: 18%;
    margin: 3px;
    border: 1px solid var(--ItemBg);
    border-radius: 5px;

}
.itembox{
    width: 100%;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}
.itembox p{
    margin-top: 0;
    margin-bottom: 7px;
}

#Coffee,#Beverage,#Snack,#Add-on{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top:  5px;
    align-items: center;
    align-content: center;
}

#Coffee{
    background-color: rgba(126, 215, 193,.7);
}
#Beverage{
    background-color: rgba(240, 219, 175,.7);

}
#Snack{
    background-color: rgba(220, 134, 134,.7);

}
#Add-on{
    background-color: rgba(176, 97, 97,.7);

}

.ItemHeader{
    margin: 0;
}
.PastOrder{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.IOrder{
    display: flex;
    
}
.IndOrder{
    width: 70%;
}
.IndOrder p{
    width: 20%;
}
.PastOrder p{
    margin-top: 0;
    margin-bottom: 5px;
}
.OrderSummary{
    width: 30%;
}

/*AddItem.php*/

.InputBox{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.getitem{
    display: flex;
    background-color: var(--BoxBg);
    padding:15px;
    margin:10px;
    width: 30%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.centercont{
    display: flex;
    justify-content: center;
}

.MenuBox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.menuitem{
    display: flex;
    flex-direction: column;
    width: 17%;
    margin-bottom: 10px;
    margin-right: 1.5%;
    margin-left: 1.5%;
    background-color: var(--BoxBg);
    border-radius: 10px;
    align-items: center;
    padding-top: 4px;
}
.menuitem p{
    margin-top: 0;
    margin-bottom: 7px;
}

.Category{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.CoffeeHeader,.BeverageHeader,.SnackHeader,.Add-onHeader{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.MenuHeader{

}

.CoffeeHeader{
    background-color: rgba(126, 215, 193, .7);
}
.BeverageHeader{
    background-color: rgba(240, 219, 175, .7);
}
.SnackHeader{
    background-color: rgba(220, 134, 134,.7);
}
.Add-onHeader{
    background-color: rgba(176, 97, 97,.7);
}

/* width */
::-webkit-scrollbar {
  width: 1vh;
}

::-webkit-scrollbar:horizontal{
  height: 1vh;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-button{
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    height: 20%;
    border-radius: 10px;
    background: rgb(255, 143, 143);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

button{
    background-color: rgb(154, 222, 123);
    border: 1px solid rgb(80, 141, 105);
    border-radius: 5px;
}

/*Order History*/

.OrderBoxHistory{
    width: 28%;
    display: flex;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.ItemBoxHistory{
    display: flex;
}

.containerH{
    display: flex;
    flex-wrap: wrap;
}

.SingleOrder{
    width: 70%;
}

.OrderDetailHistory{
    width: 30%;
}

.ItemBoxHistory p {
    margin-left: 5px;
    margin-right: 5px;
}

/* Statistics */
.StatTop{
    display: flex;
    width: 100%;
}
.statBox{
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.IndivStat{
    display: flex;
    border-bottom: black solid 2px;
}
.IndivStat p{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.ItemCountStat{
    width: 30%;
}
.ItemNameStat{
    width: 70%;
}
